.timeline {
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.timeline a {
  margin: 0 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
  width: 100%;
/*  background-color: black; */
}

#colonial {
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0 10px;
/*  background-color: lightgray; */
}

#colonial h1 {
  margin: 0;
}

.colonial-image {
  width: 400px;
  height: 100%;
  text-align: center;
/*   background-color: blue; */
}

.image-container {
  /* both divided by 1.8 */
  height: 373px; /* 7 in or 672 px */
  width: 245px; /* 4.6 in or 432 px */
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
  align-items: center;
}

.colonial-text {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 30px;
  
}

/*.colonial-text p {
  text-indent: 2em;
  text-align: justify;
}*/

.colonial-text h2 {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-size: 36px;
}

.arrow {
  height: 100%;
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
/*  align-self: center;*/
  font-size: 4em;
  cursor: pointer;
  color: #f69e36;
/*  background-color: white; */
}

.arrow i{
  top: 30vh;
  position: relative;
}

.arrow:hover {
  color: #ee8ca0;
}

.arrow:active {
  color: #23879f;
}