
/* MAIN */
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
  width: 100%;
/*   background-color: black; */
}

/* THEORIES GENERAL */

.theories {
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
/*   background-color: lightgray; */
}

.theories .theories-text {
  height: 100%;
  width: 100%;
  margin: 0;
}

.theories .theories-text p {
  text-indent: 2em;
  text-align: justify;
}

.theories .theories-text h2 {
  margin-top: 0;
  font-size: 36px;
}

/* THEORIES 1 */
#t1 .theories {
  padding: 0 30px;
}

.tformat-1 .theories-text {
  padding-right: 40px;
}
.tformat-1 .theories-text h2 {
  margin-bottom: 1.2em;
}
.tformat-1 .theories-image {
  width: 400px;
  height: 100%;
  text-align: center;
/*   background-color: blue; */
}
.tformat-1 .image-container {
  /* both divided by 1.8 */
  height: 384px; /* 7.2 in or 691.2 px */
  width: 320px; /* 6 in or 576 px */
  background-color: white;
  border: 2px solid black;
  margin: auto 0;
}

/* THEORIES 2 */
.tformat-2 {
  flex-direction: column;
}

.tformat-2 .theories-text {
  height: 70%;
}
.tformat-2 .theories-text p {
  padding: 0 40px;
}
.tformat-2 .theories-image {
  width: 100%;
  height: 100%;
  text-align: center;
/*   background-color: blue; */
  padding: 0 20px;
}
.tformat-2 .image-container {
  /* both divided by 1.8 */
  height: 240px; /* 4.5 in or 432 px */
  width: 840px; /* 14 in or 1344 px */
  background-color: white;
  border: 2px solid black;
  margin: auto 0;
}
