/*TIMELINE CONTAINER*/ 

.timeline {
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/*  background-color: lightgray;*/
}

/*CONTAINER*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
  width: 100%;
/*  background-color: black; */
}

/*#colonial-1*/
.disc {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0 10px;
/*  background-color: lightgray; */
}

.hidden {
  display: none;
}

/*DISC BUT SPECIFICALLY FOR COLUMN*/
.row {
  flex-direction: column;
}

/*#colonial-1*/
.disc h1 {
  margin: 0;
  text-transform: uppercase;
}

/* IMAGE */

.image-column {
  text-align: center;
  display: flex;
  height: 100%;
/*   background-color: blue; */
}

.col .image-column & .th-1 .image-column {
  width: 400px;
}

.image-row {
/*  background-color: blue;*/
  padding: 0 0 0 50px;

}

#artifacts-2 .image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-container {
/*    border: 2px solid black;*/
  display: flex;
  align-content: center;
}

.col .image-container {
  /* both divided by 1.8 */
  height: 373px; /* 7 in or 672 px */
  width: 245px; /* 4.6 in or 432 px */
} 

.th-1 .image-container {
  /* both divided by 1.8 */
  height: 384px; /* 7.2 in or 691.2 px */
  width: 320px; /* 6 in or 576 px */
}

#theories-2 .image-container {
  /*figured out*/
  height: 340px;
}

#artifacts-2 .image-container {
  height: 320px;
  width: 320px;
}

.img {
  object-fit: contain;
  width: 100%;
}

.img-th2 {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/* TEXT */

.text {
  height: 100%;
  width: 100%;
  margin: 0;
/*  background-color: white;*/
}

.th-1 .text{
  padding: 0 70px 0 30px;
}

.row .text p{
  padding: 0 60px;
}

.col .text{
  padding: 0 30px;
}


.text h1 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 40px;
}

.text h2 {
  font-size: 30px;
  color: #722730;
}

/*ARROWS*/

.arrow {
  height: 100%;
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
/*  align-self: center;*/
  font-size: 4em;
  cursor: pointer;
  color: #f69e36;

/*  background-color: white; */
}

.arrow-inactive {
  color: #ffc889 !important;
  cursor: default;
}

.arrow i{
  top: 30vh;
  position: relative;
}

.arrow:hover {
  color: #ee8ca0;
}

.arrow:active {
  color: #23879f;
}

/*color: #f7bf7e;*/