body{
  /*
    height: 100%;
    width: 100%;
    background: url(../images/L_BANNER.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    background: url(../images/L_PLS.png);
    background-size: 1920px 970px;
}

.navbar {
  color: #182249;
  font-weight: bold;
  /*Unset removes the css that was set by style.css*/
  background-color: unset;
  display: unset;
  margin-left: unset;
  height: unset;
}

.navbar a {
  text-decoration: none;
  color: #182249;
  padding: 0.6em;
  font-weight: bold;
}
.navbar ul{
  text-align: center;
}
.navbar li{
  margin: 2em;
}

.navbar a:hover {
  border-radius: 9px;
}

.navbar a:active {
  border-radius: 9px;
}

.title {
  text-align:center;
  font-weight: lighter;
  font-stretch: expanded;
}
.title h1{
  color: #182249;
  font-size: 6em;
  margin:0;
  padding: 15vh 0 0 0;
}
/*
.title h1:hover{
    text-shadow: 1px 0px 20px #23879f;
}*/

.title p{
  color: #722730;
  margin: 0;
  font-size: 30px;
  font-weight: bold;

}
.button {
  margin: 7em 0 0 0;
  color: #182249;
  font-weight: bold;
}

.button a{
  text-decoration: none;
  background-color: #f2b370;
  padding: 2em 3em 2em 3em;
  color: #122f6d;
  border-radius: 9px
}
.button ul{
  list-style: none;
  text-align: center;
  padding:0;
}

.button li{
  display: inline-block;
  margin: 9.5vh;
  font-size: 20px;

}
.button a:hover {
  background-color: #ee8ca0;
}

.button a:active {
  background-color: #23879f;
  color: #fff;
}