#consonants h1{
  padding: 10px;
}

#consonants{
  padding-left: 70px;
  color: #182249;
  
}
#img1{
  padding-left: 180px;
  height: 400px;
}

#description{
  padding-left: 180px;
  padding-right: 180px;
}



  
