.sidescroll{
  width: 160px;
  height: 500px;
  position: fixed;
  z-index: 1;
  top: 20vh;
  left: 85%;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidescroll a:link {
  text-decoration: none;
  color: #c64049;
}

.sidescroll a:visited {
  color: #c64049;
}

.circle{
  position: relative;
  top: 25%;
  border-radius: 50%;
  margin: 0 0;
  height: 14px;
  width: 14px;
  z-index: 1;
  background-color: #fbe1ca;
}

.circle-past {
  background-color: #c64049;
  border: 3px solid #c64049;
  margin: 2px;
}

.circle-active {
  background-color: #c64049;
  border: 3px solid #fbe1ca;
  box-shadow: 0 0 0 2px #c64049; 
  color: #1b8ba1;
  margin: 2px;
}

.circle-future {
  border: 3px solid #fbe1ca;
  box-shadow: 0 0 0 2px #c64049; 
  margin: 2px;
}

.circle p{
  margin-left: 2em;
  font-family: Source;
  display: inline-block;
  margin-top: 0;
}

.line {
  height: 100px;
  border-left: 2px dotted #e99a3d;
  position: relative;
  z-index: 0;
  left: 11px;
}

.line-inactive {
  height: 100px;
  border-left: 2px dotted #e99a3d;
  position: relative;
  z-index: 0;
  left: 11px;
}

.line-active {
  height: 100px;
  border-left: 3px solid #c64049;
  position: relative;
  z-index: 0;
  left: 11px;
}

.section h1{
  padding-left: 70px;
  padding-top: 1em;
  font-size: 60px;
  color: #182249;
}

.section img, video{
  height: 500px;
  width: 1300px;
  padding-left: 180px;
}

.section p{
  padding-left: 180px;
  padding-right: 400px;
  font-family: Source;
  color: #182249;
  font-size: 25px;
}

.more{
  background-color: #fdc888;
  border-radius: 25px;
  width: 1350px;
  height: 380px;
  display: flex;
  flex-direction: row;
  margin-left: 11em;
  font-family: 'Source';
}

.content{
  padding-left: 200px;
  float: left;
  width: 400px;
  padding-right: 100px;
}
.content h1{
  padding-left: 0;
  font-size: 35px;
  color: #722730;
}

.content p{
  padding: 0;
  margin-left: 2em;
  text-align: left;
  font-size: 20px;
  color: #722730;
}

.more img{
  width: 275px; 
  height: 250px;
  padding-top:50px;
  padding-left:80px;
  float: right;
}
.more a{
  margin-left: 65px;
}

p a{
  color: white; 
  display: block; 
  text-decoration: none;
  background-color: #c03e48; 
  border-radius: 15px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  width: 160px;
  height: 40px;
  text-align: center;
}

.imglast{
  padding-left: 180px;
  height:1300px;
  margin-bottom: 7em;
}

.imglast img {
  width:1300px;
  height: 1300px;
}

.last{
  margin-left: 750px;
}