/*
#consonants h1{
  padding: 10px;
}

#consonants{
  padding-left: 70px;
  color: #182249;
  
}
#img1{
  padding-left: 180px;
  height: 400px;
}

#description{
  padding-left: 180px;
  padding-right: 180px;
}



  
*/

h1{
  padding: 10px;
}
body {
  background-color: #fbe1ca;
  color: #722730;
  font-family:Calibri;
}
p a{
  color: white; 
  display: block; 
  text-decoration: none;
  background-color: #c03e48; 
  border-radius: 15px;
  font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    width: 160px;
    height: 40px;
    text-align: center;
}
p a:hover {
  background-color: #ee8ca0;
  border-radius: 15px;
  color: #182249;
}
.content p a{
  margin-left:70px;
  margin-top: 30px;
}
.button p a{
  margin-left:500px;
  margin-top: 30px;
}

#consonants{
  padding-left: 70px;
  font-size: 17px;
}
#img1{
  padding-left: 180px;
  height: 400px;
}
#img2 img{
  width: 600px;
}
#img2{
  padding-left: 180px;
  height: 400px;
  padding-bottom: 30px;
}
#img2 img{
  width: 600px;
}
  
#description{
  padding-left: 180px;
  padding-right: 180px;
}
#more{
  background-color: #fdc888;
  border-radius: 25px;
  padding-left: 35px;
  width: 1000px; 
  height: 370px; 
  margin:0 auto;
  display: flex;
  flex-direction: row;
}
    
.content{
  padding-left: 50px; 
  padding-top: 10px;
  width: 400px;
  float: left;
}
.content .img3{
  float: right;
  width: 400px;
  height: 300px;
}
.img3 img{
  width:370px; 
  height: 270px;
  padding-top:50px;
  padding-left: 80px;
}
#img4{
  padding-left: 180px;
  height: 400px;
}
#img4 img{
  width: 600px;
  padding-top: 20px;
}
#description2{
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 20px;
}
  
  
  
    
  