/* GENERAL */

html {
  scroll-behavior: smooth;
}

@font-face{
  font-family: Barabara; 
  src: url('fonts/BARABARA.otf'); 
}

@font-face{
  font-family: Shrikhand; 
  src: url('fonts/Shrikhand-Regular.ttf'); 
}

@font-face{
font-family: Source;
  src: url('fonts/SourceSerifPro-Regular.ttf');
}

@font-face{
font-family: Source;
  font-weight:bold;
  src: url('fonts/SourceSerifPro-Bold.ttf');
}

body {
  margin: 0;
  background-color: #f8e7db;
  font-family: 'Source';
  color: #182249;
  overflow-y: scroll;
}

h1 {
  font-family: 'Shrikhand';
  font-size: 2em;
}

/* NAVBAR */
.navbar h1{
  padding-top: 0.3em;
  color: #fff;
  font-size: 1em;
  margin-right: 3.6em;
}

.navbar h1:hover{
  text-shadow: 1px 0px 20px white;
}

.navbar {
  background-color: #182249;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 0 4em;
  height: 3.3em;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0.6em 2em 0.6em 2em;
}

.navbar ul{
  list-style: none;
  margin:0 0 0 1em;
  padding:0;
}

.navbar li{
  display: inline-block;
  margin: 1em;
}

.navbar a:hover {
  background-color: #ee8ca0;
  color: #182249;
  border-radius: 1em;
}

.navbar a:active {
  background-color: #23879f;
  color: #fff;
  border-radius: 1em;
}