/*
.timeline ol li {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 3em;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
}

.timeline ol li:after {
  display: block;
  height: 1px;
  content:'';
  background-color: black;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
}
*/
/*.timeline .line {
  height: 0px;
  width: 38px;
  border: 1px dotted black;
  position: relative;
  top: -13px;
  left: 14px;
}
*/
/*.timeline .link {
  position: relative;
  top: 35px;
  left: -35px;
}*/

.timeline {
  display: flex;
  align-items: flex-start;
}

.timeline a {
  margin-top: 45px;
}

.timeline a:link {
  text-decoration: none;
  color: #c64049;
}

.timeline a:visited {
  color: #c64049;
}

.circle{
  position: relative;
  border-radius: 50%;
  margin: 0 0;
  height: 14px;
  width: 14px;
  z-index: 1;
  background-color: #fbe1ca;
}

.circle-past {
  background-color: #c64049;
  border: 3px solid #c64049;
  margin: 2px;
}

.circle-active {
  background-color: #c64049;
  border: 3px solid #fbe1ca;
  box-shadow: 0 0 0 2px #c64049; 
  color: #1b8ba1;
  margin: 2px;
}

.circle-future {
  border: 3px solid #fbe1ca;
  box-shadow: 0 0 0 2px #c64049; 
  margin: 2px;
}

.circle p{
  margin-top: 2em;
  margin-left: -42px;
  text-align: center;
  width: 100px;
}

.line {
  width: 100px;
  border-top: 3px dotted #e99a3d;
  position: relative;
  margin-top: 54px;
}

.line-inactive {
  border-top: 3px dotted #e99a3d;
}
