.timeline {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.timeline a {
  margin-top: 45px;
  cursor: pointer;
  color: #c64049;
}

.timeline a:link {
  text-decoration: none;
  color: #c64049;
}

.timeline a:visited {
  color: #c64049;
}

.circle{
  position: relative;
  border-radius: 50%;
  margin: 0 0;
  height: 14px;
  width: 14px;
  z-index: 1;
  background-color: #fbe1ca;
}

.circle-past {
  background-color: #c64049;
  border: 3px solid #c64049;
  margin: 2px;
}

.circle-active {
  background-color: #c64049;
  border: 3px solid #fbe1ca;
  box-shadow: 0 0 0 2px #c64049; 
  color: #1b8ba1;
  margin: 2px;
}

.circle-future {
  border: 3px solid #fbe1ca;
  box-shadow: 0 0 0 2px #c64049; 
  margin: 2px;
}

.circle p{
  margin-top: 2em;
  margin-left: -42px;
  text-align: center;
  width: 100px;
}

.line {
  width: 100px;
  position: relative;
  margin-top: 54px;
  margin-left: -2px;
}

.line-inactive {
  border-top: 3px dotted #e99a3d;
}

.line-active {
  border-top: 3px solid #e99a3d;
}
